/*

	font-weight:
				100 - thin / hairline
				200 - extra light,
			-	300 - light,
			-	400 - regular,
			-	500 - medium,
				600 - semi bold,
			-	700 - bold,
				800 - extra bold,
				900 - heavy / black
				
	! 'cursive' и 'fantasy' никогда не используются.
	

*/

/* !Не забыть упорядочить fonts по алфавиту  */

@font-face {

	font-family: "Quicksand-Regular"; 


	src: url("Quicksand-Regular.ttf") format("truetype"); 
	font-weight: 400; 
	font-style: normal; 
} 

